h1 {font-family: 'Courier New', Courier, monospace;}
button {background-color: lightgray; border: 5px solid black; height: 100px; width: 100px;}
body {text-align: center; font-family: 'Courier New', Courier, monospace;}